body {
    margin: 0%;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: #275f49;
    color: #acc7ab;
    width: 1310px;
    height: auto;
    padding: 20px;
    position: fixed;
}

.bary-span {
    all: unset;
    font-size: 32px;
    margin-left: 40px;
    cursor: pointer;
    color: #e4f2d4d3;
}

.header-wrapper-2 {
    font-family: "Montserrat", sans-serif;
    margin-top: 8px;
    font-size: 16px;
}

.head-wrapper-2-span {
    cursor: pointer;
    padding: 10px;
    transition: 0.5s;
}

.head-wrapper-2-span:hover {
    color: #acc7ab75;
}

#contact-span {
    margin-left: 35px;
}

.section1 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 1349px;
    height: 900px;
    background-image: url(../media/qali\ da\ gogo.png);
}

.quality-care {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 420px;
    height: 550px;
    background-color: #e4f2d4;
    margin-left: 60px;
    border-radius: 40px;
}

.quality-span {
    width: 340px;
    font-size: 58px; 
    letter-spacing: 0.1px;
    margin-top: 50px;
    margin-left: 38px;
    color: #215540;
    font-family: "Playfair Display", serif;
}

.customized {
    width: 330px;
    color: #275f49;
    font-family: "Playfair Display", serif;
    margin-left: 35px;
    font-size: 20px;
    margin-top: 16px;
}

.prioritize {
    width: 320px;
    font-family: "Urbanist", sans-serif;
    color: #275f49ec;
    margin-top: 16px;
    margin-left: 30px;
}

.button1 {
    all: unset;
    width: 150px;
    height: 50px;
    background-color: transparent;
    font-family: "EB Garfontamond", serif;
    font-size: 18px;
    color: #275f49;
    border: 1px solid #215540;
    border-radius: 30px;
    text-align: center;
    margin-top: 40px;
    transition: 0.3s;
    cursor: pointer;
}

.button1:hover {
    background-color: #215540;
    color: #e4f2d4;
}

.section2 {
    background-color: #215540;
    width: 100%;
    height: 600px;
}

.section2-container {
    display: flex;
    justify-content: space-between;
}


.sec2-wrapper1 {
    display: flex;
    flex-direction: column;
    padding: 70px;
}

#sec2-about {
    background-color: #f3f2ed;
    color: #215540;
    font-size: 15px;
    font-family: "Montserrat", sans-serif;
    padding: 6px 0px 6px 0px;
    width: 115px;
    text-align: center;
    border-radius: 15px;
    font-weight: 600; 
}

#sec2-passion {
    font-family: "Playfair Display", serif;
    width: 420px;
    margin-top: 30px;
    font-size: 60px;
    color: #f3f2ed;
}

#sec2-bary {
    width: 430px;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    color: white;
    margin-top: 35px;
}

.sec2-wrapper2 {
    padding: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    max-width: 600px;
    margin: auto;
}

.sec2-wrapper2 img {
    width: 36%;
    border-radius: 45px;
}

/*.sec2-images {
    border-radius: 40px;
    animation-name: imagemove;
    animation-duration: 5.8s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#sec2-care {
    animation-name: caremove;
    animation-duration: 5.8s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}

@keyframes imagemove {
    from {
        transform: translate(0px, 0px);
    }
    
    to {
        transform: translate(0px, 100px);
    }
}

@keyframes caremove {
    from {
        transform: translate(0px, 0px);
    }

    to {
        transform: translate(0px, 100px);
    }
}*/

.section3 {
    background-color: #f3f2ed;
    width: 100%;
    height: 850px;
}

.services-wrapper {
    display: flex;
    flex-direction: column;
    padding: 60px;
}    

.sec3-services {
    background-color: #dcd9fe;
    color: #215540;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    padding: 6px 0px 6px 0px;
    width: 130px;
    text-align: center;
    border-radius: 15px;
    font-weight: 600;
}

.sec3-discover {
    font-family: "Playfair Display", serif;
    margin-top: 30px;
    font-size: 60px;
    color: #215540;
}

.sec3-wrapper2 {
    display: flex;
    justify-content: space-around;
}

.sec3-wrapper2 img {
    width: 300px;
    height: 400px;
    border-radius: 60px;
}

.image-text-wrapper {
    display: flex;
    justify-content: space-around;
}

.therapy {
    font-family: "Playfair Display", serif;
    font-size: 36px;
    font-weight: 400;
    color: #215540;
}

.image-text-wrapper2 {
    display: flex;
    justify-content: space-around;
}

.image-text-wrapper2 span {
    color: #275f49;
    font-family: "Montserrat", sans-serif;
}

.prof {
    margin-right: -50px;
}

.support {
    margin-right: -15px;
}

.section4 {
    background-color: #215540;
    width: 100%;
    height: 1400px;
}

.benefits-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 40px;
    gap: 1px;
}

.bene {
    background-color: #f3f2ed;    
    color: #215540;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    padding: 6px 0px 6px 0px;
    width: 110px;
    text-align: center;
    border-radius: 15px;
    font-weight: 600;
}

.stand-out {
    font-family: "Playfair Display", serif;
    margin-top: 30px;
    font-size: 60px;
    color: #ffffff;
}

.ensure {
    width: 490px;
    font-family: "Montserrat", sans-serif;
    font-size: 14.5px;
    color: white;
    margin-top: 35px;
}

.benefits-wrapper2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    margin-top: 50px;
}

.bene-container {
    border-radius: 35px;
    width: 700px;
    height: 280px;
}

.bene1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 32px;
    background-color: #dcd9fe;
    color: #215540;
}

.bene1-span1 {
    font-family: "Montserrat", sans-serif;
    width: 500px;
    font-size: 16px;
}

.padd {
    padding-left: 55px;
}

.compcare1 {
    font-family: "Playfair Display", serif;
    font-size: 40px;
}

.bene2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 32px;
    background-color: #e4f2d4;
    color: #215540;

}

.compcare2 {
    font-family: "Playfair Display", serif;
    font-size: 40px;
}

.bene2-span2 {
    font-family: "Montserrat", sans-serif;
    width: 440px;
    font-size: 16px;
}

.padd2 {
    padding-left: 55px;
}

.bene3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 32px;
    background-color: #f3f2ed;
    color: #215540;
}

.compcare3 {
    font-family: "Playfair Display", serif;
    font-size: 40px;
}

.bene3-span3 {
    font-family: "Montserrat", sans-serif;
    width: 470px;
    font-size: 16px;
}

.padd3 {
    padding-left: 55px;
}

.section5 {
    width: 100%;
    height: 1100px;
    background-color: #dcd9fe;
}

.meet-the-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 65px;
}

.meet-the-team {
    background-color: #215540;    
    color: #dcd9fe;
    font-size: 14.5px;
    font-family: "Montserrat", sans-serif;
    padding: 6px 0px 6px 0px;
    width: 140px;
    text-align: center;
    border-radius: 15px;
    font-weight: 400;
}

.the-heart {
    font-family: "Playfair Display", serif;
    margin-top: 30px;
    font-size: 60px;
    color: #215540;
}

.meet-the-span3 {
    width: 565px;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    color: #275f49;
    margin: 30px 0px 0px 6px;
    line-height: 22px;
}

.heart-care-wrapper {
    display: flex;
    justify-content: flex-end;
    gap: 25px;
    padding-right: 20px;
}

.care-image-link {
    width: 180px;
    border-radius: 25px;
}